<h2>Login</h2>
<form>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Insira seu email"
      name="email" [(ngModel)]="email">      <!-- ng model faz ligação -->
    </div>
    <div class="form-group">
      <label for="senha">Senha</label>
      <input type="password" class="form-control" id="senha" placeholder="Digite sua senha"
      name="senha" [(ngModel)]="senha">
    </div>    
    <button type="submit" class="btn btn-primary" (click)="logar()">Logar</button>
  </form>